apod-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: inherit;
    height: inherit;
    width: inherit;
}

#img-apod {
    position: absolute;
    min-height: 110vh;
    min-width: 110vw;
    height: initial;
    width: initial;
}