:root {
  --primary-color: #92c9ee;
  --standard-tint: #000000AA;
  --app-background: #0b1d41;
  --app-background-tinted: #152c2e;
}

react-root {
  display: block;
}

app-canvas {
  position: fixed;
  background-color: var(--app-background);
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

app-canvas a {
  color: var(--primary-color);
}

site-body > a {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 3;
}

site-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: calc(10vh + 2rem) 0 6px;
  z-index: 3;
}
