experience-container {
  background-color: var(--standard-tint);
  color: var(--primary-color);
  position: fixed;
  width: 50vw;
  min-width: min(calc(100vw - 4rem), 420px);
  max-width: calc(100vw - 4rem);
  max-height: calc(90vh - 4rem);
  z-index: 3;
  border: 0.2rem solid var(--primary-color);
  border-left: none;
  min-height: 10vh;
  padding: 1rem 2rem 2rem 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

experience-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: max(320px, 42vw);
  margin: 0 0 0 auto;
}

my-name {
  font-size: 2rem;
  font-weight: bolder;
  line-height: 1.75rem;
}
my-name > my-caps {
  font-size: 2.5rem;
}

my-positions {
  font-display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

my-hello,
my-about,
my-positions,
my-education {
  margin: 1rem 0 0;
  font-size: 1rem;
}
my-hello > my-caps,
my-about > my-caps,
my-positions > my-caps,
my-education > my-caps {
  font-size: 1.25rem;
}
