site-header {
  background-color: var(--standard-tint);
  color: var(--primary-color);
  position: fixed;
  width: 100%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  border-bottom: 0.2rem solid var(--primary-color);
  min-height: 10vh;
}

header-title {
  font-size: max(1.75rem, calc(10px + 3vmin));
  margin: auto 0 1rem 2rem;
  font-weight: bold;
}
header-title > code::after {
  content: '_';
  animation: blink 1.5s step-start infinite;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

header-spacer {
  flex: 1 1 0px;
  min-height: inherit; 
  /* No purpose for min-height, other than making this element 
     height nonzero so that it can be seen in browser DevTools */
}

header-contact {
  font-size: calc(6px + 2vmin);
  margin: auto 2rem 1rem 0;
  color: var(--app-background);
  background-color: var(--primary-color);
  border-radius: 10px;
  font-weight: bold;
  padding: 6px 20px;
}

header-envelope {
  background-color: transparent;
  background-repeat: no-repeat no-repeat;
  background-position: 75% 75%;
  background-size: contain;
  margin: auto 2rem 1rem 1.25rem;
  flex-basis: 3rem;
  width: 100%;
  height: 40px;
  display: none;
  /* padding-top: 70.83%; */
}

header-contact,
header-envelope {
  transition: all .2s ease-in-out;
}
header-contact:hover,
header-envelope:hover {
  transform: scale(1.1);
  cursor: pointer;
}

@media (max-width: calc(500px + 2rem)) {
  header-contact {
    display: none;
  }
  header-envelope {
    display: block;
  }
}